
// Here you can add other styles

.login-page-center{
  margin-top: 10%;
}

.border-radius{
  border-radius: 5px;
}

.text-center{
  text-align: center;
}

.text-medium{
  font-size: medium;
}

.below-form-text{
  text-align: center;
  font-size: medium;
  margin-top: 10px;
}

.below-form-div{
  text-align: center;
}

.registration-form{
  background-color: white;
  border-radius: 5px;
  padding: 2em;
}

.alert-form{
  margin-top: 2em;
}

.form-control-readonly[readonly] {
  background-color: white;
}

.map-responsive{
    z-index:1;
    left: 0;
    top: 55px;
    width:100%;
    position:absolute;
    bottom: 50px;
}

.description{
    border: 4px solid;
    z-index:999;
    left:0;
    height:100px;
    width:100px;
    position:absolute;

}