.login-page-center{
  margin-top: 10%;
}

.border-radius{
  border-radius: 5px;
}

.text-center{
  text-align: center;
}

.text-medium{
  font-size: medium;
}

.below-form{
  text-align: center;
  font-size: medium;
  margin-top: 10px;
}

.registration-form{
  background-color: white;
  border-radius: 5px;
  padding: 2em;
}

.alert-form{
  margin-top: 2em;
}

